.HA_VERSION
.storage/
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
options.xml
*.sqlite
zigbee.db
zw*.xml
secrets.yaml
.vscode
*.pyc
known_devices.yaml
zigbee.db*
home-assistant_v2.db-shm
home-assistant_v2.db-wal
integrations/router.yaml.bad
*.gz