.HA_VERSION
.storage/
OZW_Log.txt
home-assistant_v2.db
options.xml
*.sqlite
zigbee.db
zw*.xml
secrets.yaml
.vscode
*.pyc
known_devices.yaml
zigbee.db*
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant*corrupt*
integrations/router.yaml.bad
*.gz
*db*corrupt
custom_components/hacs
custom_components/webrtc
custom_components/frigate
home-assistant.log*
home-assistant.log.fault